<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AutomotiveGallery.Properties.Settings.AutoGalleryConnectionString" connectionString="Data Source=302-10;Initial Catalog=AutoGallery;User ID=WebMobile_302;Password=webmobile.302" providerName="System.Data.SqlClient" />
    <add name="AutomotiveGallery.Properties.Settings.AutoGalleryConnectionString1" connectionString="Data Source=DESKTOP-Q6F1S5H;Initial Catalog=AutoGallery;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AutomotiveGallery.Properties.Settings.OtogaleriConnectionString" connectionString="Data Source=DESKTOP-Q6F1S5H;Initial Catalog=Otogaleri;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="OtogaleriEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-Q6F1S5H;initial catalog=Otogaleri;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>